* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.header {
    background-color: gainsboro;
    text-align: center;
}
.topnav {
    display: inline-block;
}
.topnav a {
    color: black;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
}
.topnav a:hover {
    background-color: whitesmoke;
}
a.active {
    background-color: whitesmoke;
}
.main-container {
    background-color: whitesmoke;
    flex: 1 0 auto;
    padding-top: 1em;
    text-align: center;
}
.section {
    display: none;
}
.section.active {
    display: block;
}
figure img {
    max-height: 130px;
}
.modelNav a {
    display: inline-block;
    min-width: 15%;
}
.modelNav a.active {
    border-bottom: 3px solid gainsboro;
}
.footer {
    background-color: gainsboro;
    flex: 0 0 auto;
    font-size: 0.6em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    text-align: center;
}
